* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enter {
    color: white;
    font-size: 3em;
    text-shadow: 0px 0px 10px white;
    position: relative;
    cursor: pointer;
}

.blurtransition {
    animation-name: unblur;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fadetransition {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes unblur {
    0% {
        backdrop-filter: blur(10px);
    }

    100% {
        backdrop-filter: blur(2.5px);
    }
}

@keyframes fade {
    0% {
        top: 0px;
        cursor: default;
        opacity: 1;
    }

    100% {
        opacity: 0;
        cursor: default;
        top: 10px;
    }
}